@charset "utf-8";
/*=登陆页====================================================*/
.max-passport-page .maxwIn{
    padding-top: 40px;
    min-height: 500px;
}
.max-passport-page .maxAllwrap{background: url("login.png") no-repeat center  0px;margin: 0;}
.RegisterWrap{ margin:10px}
.loginbox{ background:#f7f7f7}
.register-wrap .form,.RegisterWrap .form { padding:0; margin:0}
.PassportWrap{ margin:10px}
.register-wrap .loginbox,.RegisterWrap .loginbox{ margin-bottom:0;}
.register-wrap .trust-login,.RegisterWrap .trust-login{ border-top:0;  padding:0; margin-top:-40px\9; overflow:hidden;width:458px}
.register-wrap .trust-login h3,.RegisterWrap .trust-login h3{ display:none}
.register-wrap .trust-login iframe,.RegisterWrap .trust-login iframe{margin-bottom:-30px;}
.register-wrap .trust-login .trust-login-btn,.RegisterWrap .trust-login .trust-login-btn{ display:none}
.loginbox{ line-height:18px; margin-top:0px;}
.loginbox .login-k{ width:80px!important;}
.loginbox .login-title{ border-bottom:1px solid #ddd; height:40px; line-height:40px;width:85%; margin:0 auto}
.loginbox .login-title h3{ float:left; margin:0;}
.loginbox .login-title span{ float:right}
.loginbox .login-title span a{ color:#c9033b; text-decoration:none; padding-left:5px;}
.loginbox .login-title span a:hover{ text-decoration: underline}
.loginbox .login-v{ padding:3px 2px; padding:0px 2px\9;}
.loginbox .login-v a{color:#c9033b; text-decoration:none; padding:0 5px}
.loginbox .login-v a:hover{text-decoration: underline}
.loginbox .login-v .inputstyle{width:220px;line-height:25px;padding:5px;height:25px;}
.loginbox .login-v .btn span {padding-left:30px}
.loginbox .login-v .btn span span{ padding-right:65px}

.carlogin-wrap .register-wrap{ margin:0}
.carlogin-wrap .trust-login{width:auto; border:0; border-top:1px solid #ddd;  overflow:hidden; margin-top:10px;}
.carlogin-wrap .trust-login .trustlogos{margin-top:-20px\9;}
.carlogin-wrap .trust-login h3{ display:none;}
.carlogin-wrap .carlogin-singup{margin-top:9px; overflow:hidden }
.carlogin-wrap .loginbox li{ padding:0\9;}
.carlogin-wrap .flt{width:50%!important}
.carlogin-wrap .frt{width:50%!important}
.signup-success{padding:50px 0; width:480px}
.signup-success .icon{font-size:50px;color:#005aa9;}
.signup-success .descrip{margin-left:60px}
.signup-success .alert-tip{ border:1px solid #e0e0e0;background: #f9f9f9;}
.signup-success .alert-tip em{color:#d71249;}
/*=购物车页====================================================*/
.stpdiv{display: block;margin: 0;position: absolute;left: 50%;top: 4px;/* color: #fcc800; */margin-left: -5px;color: #fff;}
.active .stpdiv{color:#fff}
.steps i{display: none;}

.steps .active i {
color: #fff;
}
.steps a:hover{background:none;}
.steps .active span {
    color: #7e7e7e;
}
.steps a, .steps span{padding-top: 30px;display: block;text-align: center;line-height: 40px;clear: both;height: 40px;font-size: 12px;color: #7e7e7e;}
.steps .active a, .steps .active .icon{color:#333;}
.btn-import span {

border-radius: 3px;
line-height: 25px;
font-size: 12px;
font-family: microsoft yahei;
font-weight: normal;
background-image: none;background: #005aa9;  filter: none\9;  color: #fff;  border: 0;}
.btn-import:hover span{
background-image: none;background: #005aa9;
filter: none\9;
color: #fff;
border: 0;}
#cart_container .btn-import span{background: #005aa9;color: #fff;padding:0 20px}
.action-settle{width:160px;height:40px}
.action-settle span{background:#005aa9;height:40px; display:block;line-height:40px;font-size:12px}
#cart_container .btn-import span span{padding:0;}
.btn-huge .f-icon{
    font-size: 12px;
}
#cart_container .btn-import .f-icon {display:none}
.btn{vertical-align:middle}

.form-act .btn-caution span,.form-act .btn-big span {background: #005aaa;
background-image: none;
filter: none\9;/* border-radius: 2px; *//* overflow: hidden; *//* height: 42px; *//* line-height: 42px; *//* border: 0; *//* padding: 0 0 0 41px; */
font-size: 15px;
color: #fff;}
.form-act .btn-caution span span, .form-act .btn-big span span{/* padding-right:41px; */padding-left: 0;}
.form-act .action-get-verifycode{height:43px;border: 0;}
.form-act .action-get-verifycode span{height:40px;line-height:40px;vertical-align:top;border: 0;}
.form-act .btn-caution span span,.form-act .btn-major span span{/* display: block; */}
.security-list li{line-height:46px}
.signupin-content .security-list li *{display:block;float:left;height: 46px;line-height: 46px;}
.member-security .signupin-content .security-list li *{
    height: 30px;
height"30px";
    line-height: 30px;
}
.security-list  li  .security-actions{float:right;height: 30px;}
.security-list .security-content{margin:0;display: block;line-height: 46px;height: 46px;}
.view-history{}
.view-history .title{background: #fff; border-bottom:1px solid #ddd}
.view-history .history-list {background-color:#fff}
.view-history .item{width: 264px;}
.view-history .p-pic{border: 1px solid #ddd;}
.view-history a.btn span{
    padding: 0;
}
.btn-flat span{background:#666;color:#fff;}
.form-act .btn-major:hover span {background: #005aaa;}
.form-act .btn-major:hover span span{border:none;}
.cart-empty,#main{clear:both;}
.cart-main .p-action a{color:#666;}
.cart-main .p-action a.btn-delete{color:#aaa}
#cart_container .view-history .title,#cart_container .cart-main .cart-left,#cart_container .cart-main .cart-right, #cart_container .cart-main thead th{background: #fff;}
.cart-main .cart-item{border-color:#fefef}
.cart-main .p-pic{}
.cart-main tfoot td{border-top: 1px solid #ccc;padding-top: 3px;}
.cart-main tfoot td.cart-left,.cart-main tfoot td.cart-right{border-color: #efefef;}
.cart-container .cart-main{border-color: #efefef; }
.cart-title{float:left;padding-top: 23px;display: none;}
.order-container,.order-main{clear:both;}
.steps .step-item a:hover .icon{color: #ccc;}
.steps .step-item .icon{position:absolute;left:50%; top: -6px;color: #ccc;font-size: 50px;margin-left: -25px;line-height: 50px;}
.steps .step-item {position:relative;background:none;text-align: center;color: #999;overflow: visible;}
.steps .active .icon{color: #7e7e7e;}

.steps .active a{color:#7e7e7e}
.steps a:hover{
    color: #333;
}

.steps .step-arrow{display:none;}
.steps{width:479px; background: url("jd.png") no-repeat center 17px;margin-bottom: 0;overflow: visible;height: 70px;margin: 0 auto;}
.cart-container .title, .order-container .title, .payment-container .title{clear:both;}
 .order-container .title{display:none}
.btn .btn-icon{ display:none} 
.max-cart-page .maxwIn{ margin-top:15px}
.max-cart-page .table-goods-list .goodinfo{width:400px;}
.maxborder1{ margin-top:15px;}
.maxborder1 dt{ padding-left:115px; background:#F7F7F7 url("maxmain.gif") no-repeat -433px -501px;  }
.maxborder1 dt li{ width:auto; padding:0 20px; font-size:12px; }
.maxborder1 .addcart-btn{ margin:5px 0 0 0px}
.cart-title h1 i{background: url(item.png) no-repeat 0px -155px; text-indent:-1000px;overflow:hidden;padding-right: 5px;}
/*=会员中心====================================================*/
.memberwrap{ padding:10px 0 0 0}
.memberwrap a:hover{ text-decoration: underline}
.site-part-title,.member-main .title-bg,.member-main-right .head{background: #fafafa;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,white),color-stop(100%,#F4F4F4));
background-image: -webkit-linear-gradient(top,white,#F4F4F4);
background-image: -moz-linear-gradient(top,white,#F4F4F4);
background-image: -o-linear-gradient(top,white,#F4F4F4);
background-image: linear-gradient(top,white,#F4F4F4);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ffffff',endColorstr='#F4F4F4'); color:#333}
.member-menu .body { -webkit-border-radius: 4px;   
-moz-border-radius: 4px;   
border-radius: 4px;
webkit-box-shadow: 1px 1px 2px #f1f1f1;  
-moz-box-shadow: 1px 1px 3px #f1f1f1;  
box-shadow: 1px 1px 3px #f1f1f1;
background:#fff}
.member-menu .member-menu-list .list-title-bg{background: #fafafa;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,white),color-stop(100%,#F4F4F4));
background-image: -webkit-linear-gradient(top,white,#F4F4F4);
background-image: -moz-linear-gradient(top,white,#F4F4F4);
background-image: -o-linear-gradient(top,white,#F4F4F4);
background-image: linear-gradient(top,white,#F4F4F4);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ffffff',endColorstr='#F4F4F4');}

.member-main .favorites,.last-shop ,.member-menu .member-menu-list .list-title-bg,.member-menu .body,.site-part-title,.member-main .title-bg,.member-main-right .head,.member-menu .body ,.member-main-left,.table-goods-list,.order-trace,.switch .switchable-content{border-color: #e4e4e4;}
.member-main-bg{ background:none; padding:0}
.member-main-left{ margin:0; width:50%;}
.member-main-right{ margin:0; padding:0; width:47%}
.member-main-left li{border-bottom: 1px solid #eee;}
.member-main .title,.order-track .box{ background:#fff;color:#333}
.font-blue,.member-main-left .link,.site-part-title .info a,.font-orange,.member-menu .current a,.horizontal-m a.font-blue{ color:#f60}
.gridlist th,.gift-bag h4{ background:#f9f9f9;}
.gridlist th{ border:none}
.gridlist{ border-left:0}
.gridlist td,.gridlist th.first{ border-left:1px solid #eee}
.table-goods-list,.order-trace,.site-part-title{ -webkit-border-radius: 4px;   
-moz-border-radius: 4px;   
border-radius: 4px;}
.member-menu .current a{ background:url(maxbutton.png) no-repeat 0 -101px}
.border-all,.gridlist th,.gridlist td{border-color:#eee;}
.member-main .admin-title{border-color:#FFCC99; background:#FFFFD9}
.horizontal-m a{ color:#999; font-weight:normal}
.order-trace .gridlist td{ border:0}
.member-main .gridlist .operate-btn{background:url(maxbutton.png) no-repeat 0 -281px;color:#666; margin-bottom:5px}
.member-main .gridlist .operate-btn:hover{color:#f60;background:url(maxbutton.png) no-repeat 0 -312px; text-decoration:none}


.cart-wrap .receiver_addr .tableform td, .cart-wrap .receiver_addr .tableform th, .cart-wrap .shipping_info .tableform td, .cart-wrap .shipping_info .tableform th, .cart-wrap .payment_info .tableform td, .cart-wrap .payment_info .tableform th,.cart-wrap .form-body .tableform th,.cart-wrap .form-body .tableform td{ height:22px; padding:0; line-height:22px;}
.cart-wrap .cancel_receiver_info.receiver_addr{ padding:10px 0 10px 10px}
.cart-wrap #amountInfo .liststyle td, .cart-wrap #amountInfo .liststyle th { padding:0; line-height:18px;}

.cart-wrap #amountInfo{background: #fffee6;border: 1px solid #DDD;}
.cart-wrap #amountInfo hr{border-bottom: 1px solid white;border-top: 1px solid #ddd;}
.cart-wrap .gridlist td.font-red{ color:#999}
.cart-wrap font[color=#FF9900]{ color:#666}
.cart-wrap #amountInfo .totalprice{ color:#f60}

.cart-nav.stepbj1, .cart-nav.stepbj2, .cart-nav.stepbj3 {background-image: url(cart-stepbj.gif);}

/*支付界面*/
.member-notice-content:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.tableform .x-payMethod{vertical-align:baseline;}
#order_main .btn-caution span,.order-clearing caption {
font-weight:normal;
color: #fff;

}
.cart-left .btn-caution span{background:#999} 
.btn-caution span,#order_main .btn-caution span{
    background: #005aa9;
    color: #fff;
    border-radius: 2px;
    background-image: none;
    border: 0;
    filter: none;
}
.maxpayment h3{line-height:30px;}
.maxpayment .border-all img{vertical-align:middle;}
.maxpaywrap .alipaybankpay ul{border:1px solid #ecd18a;background-color:#fefced;width:auto;padding:5px;padding-bottom:10px;margin-top:10px;}
.maxpaywrap .alipaybankpay li{width:30%;padding:0px;margin: 5px;float:left;}
.maxpaywrap .alipaybankpay li img{vertical-align:middle;border: 1px solid #ddd;padding:1px;}
.maxpaywrap .alipaybankpay li:hover img{border: 1px solid #999;}
.maxpaywrap .alipaybankpay li.maxSelect img{padding:0;border:2px solid #c9033b;}
.maxpaywrap .alipaybankpay li input{vertical-align:middle;}

.maxpaywrap .maxpayitem{clear:both;padding:10px;border:3px solid #eee;float:left;margin:5px 0;width:930px;}
.maxpaywrap .maxliselect{border-color:#f3ae00}
.maxpaywrap dt{width:170px;float:left;overflow:hidden;font-size: 14px;color: #08c;}
.maxpaywrap dd{width:760px;overflow:hidden;float:left;font-size:14px;color:#999;}

/*2.0*/
.max-member-page .page-aside{width: 180px;float:left}
.max-member-page .page-article{width: 1000px;float:right;margin: 0;}
.member-menu-title,.member-main .title-bg,.member-main-right .head{background-image:none; height: 20px; line-height: 20px;font-weight: normal;margin-top: 5px;padding: 5px 0;}
.member-menu .member-menu-list .list-title-bg{background: #fafafa;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,white),color-stop(100%,#F4F4F4));
background-image: -webkit-linear-gradient(top,white,#F4F4F4);
background-image: -moz-linear-gradient(top,white,#F4F4F4);
background-image: -o-linear-gradient(top,white,#F4F4F4);
background-image: linear-gradient(top,white,#F4F4F4);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ffffff',endColorstr='#F4F4F4');}
.maxwIn{background:none;position: relative;min-height: 422px;margin: 0 auto;}
.member-menu{font-family:microsoft yahei,arial,verdana,sans-serif;border: 0;}
.member-menu-list li{ padding: 0;border: 0; line-height: 20px; padding: 4px 0;}
.member-menu-list li a{text-decoration: none;background: url("select.jpg") 0px 6px no-repeat;padding-left: 15px;color: #999;}
.member-menu-list li a.active{background: url("select.jpg") 0px -34px no-repeat;color: #333;}
.member-menu-list li:first-child{border-top:0;} 
.member-menu-list li:last-child{border-bottom:0;}
.member-menu-list{padding:0;border-top: 0;border-bottom: 0;}
.member-menu-mod{border-top:0;border: 1px solid #efefef;margin-bottom: 10px;padding-left: 10px;padding-bottom: 5px;}
.member-aftersales{}
.member-aftersales .member-mod{border: 1px solid #efefef; background:#fff}
.member-mod{background: #fff;border: 1px solid #ddd;}
.member-mod-title h2{padding-left:10px}
.member-mod .no-information{background:none;}
.member-information ul{overflow:hidden}
.signupin-content .form-item{height: auto;margin: 0;float:left;clear: both;width: 100%;line-height: 42px;overflow: visible;}
.signup-article .signupin-content .form-item,.signup-article .signupin-content .form-item-normal{
    padding-left: 20px;
}
.signupin-content .form-item.item6{line-height: 30px;height: 30px;padding-bottom: 10px;}
.signupin-content .form-item.action-verifycode a{color:#999;font-size:12px;font-weight:normal;line-height: 14px;padding: 0;}
.signupin-content .form-item.action-verifycode a em{text-decoration:underline}
.action-need-verify{}
.signupin-content .form-item.ty{height:auto}
.signup-aside *{display:none;}
.signup-aside{width: 1175px; height:517px; background: #fff;margin: 0 auto;padding-bottom: 0;border: 0;position: absolute;top: 0;left: 0;display: none;padding: 0;}
.signup-aside a.btn{display:none;}
.signup-article{width: 501px; border-width:1px;margin: 0;overflow: hidden;position: relative;float: right;border: 0;background: #fff;      border: 3px solid #e8e8e8;}

.signupin-content .form-act{margin-left: 85px;}
.signupin-content .x-input{width: 239px;height: 42px;line-height: 42px;padding: 0 5px;}
.signup{float: left\9;overflow: hidden;border: 0;}
.sign-title{width:100%;border: 0;padding: 0;padding-bottom: 25px;margin: 0 auto;padding-top: 24px;border-bottom: 1px solid #ddd;      font: normal 22px/22px 'Microsoft Yahei';padding: 10px 0 10px 0px;      position: relative;margin-bottom: 37px;}
.signup:after {
display: block;
visibility: hidden;
height: 0;
overflow: hidden;
content: "\0020";
clear: both;
}


.signupin-content .action-verifycode .x-input {width: 107px;}
.signupin-content .x-input.verify-input{}
.signupin-content a span{padding:0 10px;font-size:12px;background: #fff;color: #666;border: 1px solid #ddd;filter: none\9;}
.signupin-content .security-list li a,.signupin-content .security-list li a  span{background-color:#fff;height: 30px;line-height: 30px;}
.signupin-content .security-list li a span{background:none; color: #333;}
.security-list li a:hover span{background:#666;color: #fff;}
.signupin-content .security-list li a{background:none}
.signupin-content a span span{padding:0;height:34px; line-height:34px; border:0}
.btn-caution:hover span span,.btn-caution:hover span{background: none;color: #fff;filter: none;}
.signupin-content .notice-inline{bottom: 4px; top:auto;left: 2px;}
.signupin-content .item4 .notice-inline{
    bottom: -8px;
}
.signupin-content .form-act{padding-bottom: 20px;float: left;margin: 0;width: 325px;}
.signupin-content .item5 .form-act {padding-bottom:5px}
.signupin-content .item6 .form-act{padding-bottom:0}
.signupin-content .item4 .form-act{padding-bottom: 10px;}
.signup-article .signupin-content .item2 .form-act{padding-bottom: 40px;}
.lnklike{color:red;}
.signupin-content .ty .form-act{margin-left:40px;}
.signupin-content .tj .btn-big span{display:block;float: none;height: 31px;line-height: 31px;}
.signupin-content .tj  .btn-big{display:block;width:auto; float:none;width: 280px;margin: 0 auto;}
.signupin-content .tj .form-act{margin:0 auto;width: auto;float: none;}
.form-item-normal.tj{width: 100%;}
.signupin-content .tj label {display:none;}
.sign-title h2 span{color:#999;font-size:16px;font-weight:bold;font-family:arial,verdana,sans-serif !important;}

#page_signin.signupin-content .form-act{padding-left: 34px;margin: 0;}
#page_signin.signupin-content .form-act{float: left;width: auto;float: none\9;padding-left: 0px;}
#page_signin.signupin-content .action-verifycode .form-act{padding-bottom: 20px;}
#page_signin.signupin-content .form-act-link{padding-bottom: 15px;}
#page_signin.signupin-content .info .form-act{width: 324px;}
.form-act label {margin-left: 2px;margin-right: 11px;vertical-align: middle;color: #999;font-size: 12px;}
.form-act label a{color:#999;text-decoration:underline}
.btn-caution:hover span{background: #006aaa;border: 0px solid #bea02e;color: #fff;}
.message-error .icon{color:#333}
.forgot-content {width: 500px;padding-top: 30px;margin: 0 auto;}
.message-body .message-content{line-height:30px;margin-left: 36px;}
.signup ul:after,.signin ul:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
#member_messagebox .member-mod{border:1px solid #ddd; background-color:#fff}
.member-title{border-bottom: 1px solid #005aa9; padding-top: 15px;padding: 0;margin-bottom: 10px;}
.member-comment-list{border: 0px solid #ddd;background-color:#fff;border-top:0}
body div .member-tabs a em{
    padding: 0px 30px;
}
body div .member-tabs{height:33px;overflow:visible;border: 0px solid #ddd;margin:0px;background: #fff;border-bottom: 1px solid #333;clear: both;}
body div .page-article .member-tabs{height:32px;overflow:visible;border-bottom: 1px solid #005aa9;background:#f5f5f5;padding-left:0px;margin: 0;background:none;margin-bottom:10px;clear:none;z-index:999;}
body div .member-tabs .tags-hd{background:none;padding:0;line-height:31px;margin:0;font-size:14px;font-family:microsoft yahei;overflow:hidden;border:none;border:1px solid #ccc;font-weight:bold;margin-left:-1px;border-bottom:0;}
body div .member-tabs .tags-hd a{background:none;padding:0 35px;border:none;text-align:center;color:#333;font-size:12px;font-family:"宋体";font-weight:normal;}
body div .member-tabs .active{background-color:#fff;border: 1px solid #005aa9;border-bottom:none;line-height:32px;font-weight:bold;height:32px;padding:0;background:#fff;border-color: #005aa9;position: relative;}
body .member-tabs .active a{line-height:33px;margin:0;padding:0 35px;/* background:none; */color: #005aa9;font-weight: bold;}
.forgot-content .form-label{width:100px;}
.signupin-content .x-input{width: 290px;background: url("maxmain.png") no-repeat -445px 0px;border: 0;}
.signupin-content .form-label{display:block;float: left;font-size: 16px;width: 88px;line-height: 42px;height: 42px;}
#member_security .signupin-content .form-label{
    width: 122px;
}
.signupin-content  .zh .x-input{background: url(item.png) no-repeat 5px -191px; height: 43px; line-height: 43px;text-indent: 27px;display: block;}

#page_signin.signupin-content .mm .x-input{background: url(item.png) no-repeat 1px -224px;height: 43px;line-height: 43px;    text-indent: 27px;display: block;float: left;}
.sign-title h2{color: #333;text-align: center;font: normal 22px/44px 'Microsoft Yahei';}
.form-item-normal{float:left;}
.forgot-content ul{clear:both;padding-left: 0px;}
.stpdiv q,.stpdiv i{display:none !important;;}
.signupin-content .x-input.verify-input,.signupin-content .action-verifycode .x-input{width: 103px;background-position: -748px 0;}
.signin{width: 501px; border-width:1px;margin: 0;overflow: hidden;float: right;border: 0;background: #fff;border: 3px solid #e8e8e8;-moz-border-radius: 3px;      -webkit-border-radius: 3px;      border-radius: 3px;padding: 0;      position: relative;padding-bottom: 38px;}
.form-item .auto-change-verify-handle{padding: 7px ;white-space: nowrap;display: inline-block;font-size: 12px;}
#page_signin.signupin-content .tj .btn-big{margin: 0 0 0 5px;}
.signin .need-signup{background-color:#f0f0f0; border-top:1px solid #ddd;display: none;}
#page_signin .placeholder{padding-left:27px}

.page-article .verify-content ul{padding: 0;width: 100%;}
.page-article .verify-content{width: auto;clear: both;}
.page-article .verify-content .msg{border-bottom: 1px solid #aaa;  margin-bottom: 10px;  padding-top: 15px;text-align: left;padding-bottom: 0;line-height: 39px;height: 40px;text-indent: 10px;}
.member-aftersales .btn{margin:0; /* height:23px; *//* line-height:23px; */display: block;float: left;margin-right: 10px;}
.member-messagebox caption .btn{margin-top:10px\9}
.page-article .signupin-content .form-act{width:auto;padding-left: 5px;}
.page-article .verify-content ul li{float:left; clear:none;width:auto}
.page-article .form-item-normal{clear: both;float: none;}
.page-article .verify-content ul:after {display: block;visibility: hidden;height: 0;overflow: hidden;content: "\0020";clear: both;}
.member-grid thead{background-color:#e0e0e0;border-bottom: 1px solid #ddd;}
.member-comment-list .comment-item{background-color:#fff}
.member-tabs a{background-color:#e0e0e0}
.cart-main thead{border-bottom:1px solid #ddd}
.member-grid thead{background-color: #fff;border-bottom: 1px solid #ddd;}
thead {}
.member-comment-list .comment-item{background-color:#fff;}
.member-tabs a{background:none;padding:0;line-height: 32px;margin:0;font-size: 12px;font-family:microsoft yahei;overflow:hidden;border:none;height: 32px;}
.member-tabs .active em {
    border-bottom-width: 2px;
    color: #005aa9;
}
.member-tabs a.active{font-weight:normal;border-bottom: 1px solid #333;}
.cart-main thead{border-bottom: 1px solid #efefef;}
.login-bg{}
.signin-page-wrap .signin{}
.maxloginheadbox{border-bottom: 3px solid #005aa9;}
.maxloginhead{width: 1180px;margin:0 auto;height:116px; position:relative;overflow:hidden;}
.maxloginhead .maxlogo{float:left;padding-top: 30px;}
.maxloginhead .max-search{float: right;width: 245px;display: none;}
.maxloginhead .maxLogo{padding-top: 17px;}
.maxloginhead .max-search .keywords{float: left;padding: 2px 5px;width: 200px;height: 25px;border: 1px solid #ccc;border-right: 0;background: #fff;color: #ccc;line-height: 25px;}
.footmenuw{width:1000px; margin:0 auto;padding-top: 25px;padding-bottom: 30px;clear: both;}
.max-lgon-foot{background:#171717;margin-top: 50px;}
.footmenu ul{width:970px; margin:0 auto;padding-left:30px;}
.footmenu{height:77px;background-color:#272727; color:#ccc;clear: both;}
.footmenu li{color:#ccc;line-height:22px;width:200px; float:left;padding-top: 17px;padding-left: 32px;position:relative;}
.footmenu b{color:#fff;font-size: 13px;}
.footmenu i{display:block;width:32px; height:26px; background: url("maxmain.png") no-repeat 0px -168px;position:absolute;left:0px; top: 27px;}
.footmenu .item2 i{background-position: -39px -168px;}
.footmenu .item3 i{background-position: -80px -168px;}
.footmenu .item3 {padding-left: 40px;}
.footmenuw .maxArticle {float: left;width: 163px;}
.footmenuw .maxArticle.last{}
.footmenuw .maxLside .maxTitle{ margin:0 0 0px 0; font: 12px/27px microsoft yahei; }
.footmenuw .maxLside .maxTitle h3{color: #fff;font-size: 16px;  font-family: "微软雅黑";font-weight: normal;}
.footmenuw .maxArticle li{ padding: 0 0 6px 0px;font-weight:normal;line-height:20px;}
.footmenuw .maxArticle li a{color: #8c8c8c;}
.footmenuw .maxArticle li a:hover{color:#d71249}
.footmenuw .shopWidgets_box{ width:190px; float:left}
.footmenuw .maxleft{float:left;padding-left:66px;}
.footmenuw .maxright{width:260px; float:right;}
.footmenuw .maxright img{padding-bottom:10px;}
.footmenuw .maxright .s{padding-bottom:5px;}
.max-lgon-foot .fbody2{background-color:#090909; height:36px; line-height:36px;overflow: hidden;}
.max-lgon-foot .fbody2 *{line-height:36px;margin: 0;}
.max-lgon-foot .fbody2 img{display:none;}
.signin-page-wrap{background: none !important;padding: 0;margin: 0;}
#for_auto_signin{display:none;}
.form-act-link a{border-left: 1px solid #898989;display:inline-block;height: 15px;line-height: 15px;margin: 0;padding: 0 14px;font-size: 12px;}
.form-act-link *{color:#898989}
.form-act-link {line-height:14px;}
.signupin-content .x-check{border-radius:0;position: relative;top: 2px;vertical-align: middle;}
.error .icon{color: #005aaa;}
#page_signup .password-check{position:absolute;left: 0px; top: 45px;margin: 0;}
#page_signup .password-check em,#page_signup .password-check q{display:none}
.password-check{}
.password-check em{float:left;}
.password-check .progress{width: 23px;float: left;clear: none;margin-top: 11px;background: url("qd.png") no-repeat 0 center;}
.password-check.password-poor  .progress{width: 43px;}
.password-check.password-weak  .progress{width: 63px;}
.password-check.password-good .progress{width: 83px;}
.password-check.password-strong .progress{width: 103px;}
.password-check .percent{display: none;}
#forgot_content .form-item-normal{padding-left:88px;}
.forgot-content .goto-signin{color:#333;}
.cart-container .title h2{display:none;}
#cart_steps{float:right;position: absolute;top: -88px;right: 0;}
.p-title a{font-weight:bold;color:#005aa9;}
.cart-main .p-title a:hover, .cart-main .p-gift a:hover, .cart-main .btn-goon:hover,.p-title a:hover{color:#d71249;}
.btn-flat span,.btn-flat:hover span {background-color: #fff;border-color: #fff;color: #333;}
.btn-flat:hover span{text-decoration:underline;}
.order-main .order-section-title{background-color:#f7f7f7;border-bottom: 1px solid #ddd;}
.order-main .order-section-title a{color:#d71249;}
.order-clearing caption {background-color: #f7f7f7;color: #333;border: 1px solid #e6e6e6;border-bottom: 0;}
.order-clearing .order-infor{background-color:#fff; }
.order-clearing .order-price{border-color:#ddd; background-color:#f7f7f7}
.btn-link{color:#333;text-decoration:none;}
.order-clearing .order-price .message{bottom: 61px;background: #999;color: #fff;border-radius: 2px;}
.order-main .notice{background-color:#fff}
.order-main .highlight .order-section-content{border-color:#222}
.caution-inline{background-color: #999;}
.change-payment .selected{background-color:#777;color: #fff;}
.complete-container .msg-success .icon,.payment-container .msg-success .icon{color: #005aa9;}
.payment-center .payment-info a{color:#d71249;text-decoration:none;}
.member-menu-list .active, .member-menu-list a:hover{color:#d71249;}
.payment-container .payment-main{background-color:#fff}
.payment-center{border:1px solid #ddd;}
.member-title h2 {font-size: 14px;line-height:30px;color: #005aa9;float: left;margin-left: 10px;margin: 0;}
.member-grid tbody {border-top: 1px solid #efefef;}
.member-welcome-alert,.member-welcome, .member-notice{background-color:#fff; border-color:#efefef}
.member-welcome-content b, .member-welcome-content i, .member-welcome-content em{color:#d71249;}
.label-alert{background-color: #d71249;}
.member-welcome-alert .label-alert{font-weight:normal}
.member-mod-title{background-color:#fff; border: 0;border-bottom: 1px solid #ddd;padding: 0;}
.icon-success{color:#005aa9;}
.article-main .article-time{text-align:center;}
.icon-warning{color:#d71249;}
.cart-main td{border-color:#ddd}
.member-address-list .highlight .label-default{background-color:#005aa9}
.member-notice-content .text-warn,.order-clearing .order-price .price,.order-clearing .order-price .price b,.cart-main .order-price .price b,.cart-main .p-subtotal{font-size:12px;color: #d71249;}
.order-clearing .order-price .total .price b,.cart-main .order-price .total b{font-size: 18px;font-weight: bold;color: #d71249;}
.member-nocomment .post-comment{margin-left: -441px;margin-top: -219px;padding: 10px;  background-color: #fff;  border: 1px solid #ddd;width: 805px !important;}
.scores-list .score,.scores-list .active, .scores-list .stars-1 .star-1, .scores-list .stars-2 .star-1, .scores-list .stars-2 .star-2, .scores-list .stars-3 .star-1, .scores-list .stars-3 .star-2, .scores-list .stars-3 .star-3, .scores-list .stars-4 .star-1, .scores-list .stars-4 .star-2, .scores-list .stars-4 .star-3, .scores-list .stars-4 .star-4, .scores-list .stars-5 .star-1, .scores-list .stars-5 .star-2, .scores-list .stars-5 .star-3, .scores-list .stars-5 .star-4, .scores-list .stars-5 .star-5{color:#d71249;font-size: 13px;}
.scores-list .rating{font-size:13px;}
.signupin-content .form-item-normal{clear:both;width: 100%;}
#forgot_content .form-item-normal .form-act{width: 300px;padding-bottom: 0;overflow: hidden;height: 42px;overflow: hidden;}
#forgot_content .forgot-remember{
    line-height: 45px;
    display: inline-block;
    vertical-align: top;
}
.signupin-content .form-item-normal .form-act{width: 200px;padding-bottom: 0;overflow: hidden;height: 42px;overflow: hidden;}
.order-main .change-shipping li.selected{background-color:#f9f9f9}
.order-clearing .order-price .btnarea .action-submit-order{height:40px; width:160px;}
.order-clearing .order-price .btnarea .action-submit-order span{display:block;line-height:40px}
.order-remark textarea{height:100px}
.order-remark label,.order-promotion h3, .order-coupon h3, .order-deduction h3{font-size:12px;font-weight:normal;}
.fbody2{padding: 20px 0 10px;line-height: 2em;background: #e1e1e1;text-align: center;position: relative;}
.max-passport-page .fbody2{}